body{
    font-family: 'roboto';
}
.head-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
}
.head-div-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-second-div{
    height: 60px;
    background-color: #f7f7f7;
    padding: 0 20px;
    border-radius: 32px;
    width: 850px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
}
.s-btn:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.04);
}
nav{
    display: grid;
    grid-template-columns: repeat(12, 1fr) 2fr; 
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 0 20px;
    margin: 0 auto;
}
nav>*{
    font-size: 12px;
    text-align: center;
}
nav>:nth-child(1){
    font-weight: bold;
}
nav>:nth-child(1) img{
    filter: contrast(1.5) brightness(1.2);
}
.nav-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
.filter-btn{
    border-radius: 12px;
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: center;
}
.filter-btn:hover{
    cursor: pointer;
}
.main-div{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(4,1fr);
    padding: 0 20px;
    object-fit: cover;
}
.main-div>*{
    background-color: #f7f7f7;
    height: 400px;
    width: fit-content;
    overflow: contain;
}